<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @comment.journal %>
</p>

<%= link_to 'Edit', edit_patient_journal_comment_path([@patient, @journal, @comment]) %> |
<%= link_to 'Back', patient_journal_comment_path %>
