<h1 id="log_in">Patient Log In</h1>
<%= form_tag(@patient) do %>
	<div class="field">
		<%= label_tag :name %>
		<%= text_field_tag :name %>
	</div>
	<div class="password_field">
		<%= label_tag :password %>
		<%= text_field_tag :password %>
	</div>
	<div class="action">

		<%= submit_tag "Log in" %>
	</div>
	<% end %>
