<p id="notice"><%= notice %></p>
<% if patient_logged_in? %>
  <a class="banner">Hi <%= current_patient.name %></a> 
<% end %>
<%= simple_format "\n" %>

<strong>Name:</strong>
  <%= @patient.name %>
<%= simple_format "\n" %>

<strong>Email:</strong>
  <%= @patient.email %>
<%= simple_format "\n" %>

<strong>Doctors:</strong>
  <% @patient.doctors.each do |doc| %>
    <%= doc.name %>
  <% end %>
<%= simple_format "\n" %>

<strong>Number of journal entries:</strong>
  <%= @patient.journals.size %>
  <% if doctor_logged_in? && @patient.doctors.include?(current_doctor) %>
    <%= link_to "View #{@patient.name}'s Journal", "/patientsj/#{@patient.id}" %>
  <% end %>
<%= simple_format "\n" %>

<% if current_patient == @patient %>
  <%= link_to 'Add doctor', "/patients/#{@patient.id}/adddoc" %>
  <%= link_to 'Add Entry', new_patient_journal_path(@patient.id) %><br>
<% end %>

</p><br>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path if !doctor_logged_in? %>
<%= link_to 'Back', doctors_path if doctor_logged_in? %>
