<p id="notice"><%= notice %></p>

<strong>Name:</strong>
  <%= @doctor.name %>
<%= simple_format "\n" %>

<strong>Email:</strong>
  <%= @doctor.email %>
<%= simple_format "\n" %>

<strong>Code:</strong>
  <%= @doctor.code %>
  <%= "(Give this to patients so that they may link their journal to you)" %>
<%= simple_format "\n" %>

<strong>Patients:</strong>
  <%= "No patients yet" if @doctor.patients.empty? %>
  <% @doctor.patients.each do |patient| %>
    <%= link_to "#{patient.name}", patient_path(patient), {:style=>'color:red;', :class => "css_class"} %>
  <% end %>
<%= simple_format "\n" %>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> 
