<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>Password hash:</strong>
  <%= @doctor.password_hash %>
</p>

<p>
  <strong>Patients:</strong>
  <% @doctor.patients.each do |patient| %>
  	<%= link_to "#{patient.name}", patient_path(patient) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
