<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @journal.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @journal.body %>
</p>

<% if !@journal.comments.empty? %>
  <h4>Comments on <%= @journal.name %></h4>
    <table class="table">
      <tr>
        <th>Content</th>
        <th>Action</th>
      </tr>
      <% @journal.comments.each do |comment| %>
      <tr>
        <td>
        <a style='display:inline-block'> - <%= comment.content %></a>
      </td>
        
        <td><%= link_to "delete", patient_journal_comment_path(@journal.patient, @journal, comment), method: :delete, data: { confirm: "Yes" }  %></td>
        <td><%= link_to "edit", edit_patient_journal_comment_path(@journal.patient, @journal, comment) %></td>
      </tr>
    <% end %>
    </table>
<% else %>
  <%= 'No comments' %>
<% end %>

<% if doctor_logged_in? %>
  <%= link_to 'Add comment', new_patient_journal_comment_path(@journal.patient, @journal) %> |
<% end %>

<% if patient_logged_in? %>
  <%= link_to 'Edit', edit_patient_journal_path(@journal.patient, @journal) %> |
<% end %>
<p>
<%= link_to 'Back', "/patients/#{@journal.patient.id}" %>
