<p id="notice"><%= notice %></p>

<strong>Name:</strong>
  <%= @journal.name %>
<%= simple_format "\n" %>

<strong>Body:</strong>
  <%= @journal.body %>
<%= simple_format "\n" %>

<% if !@journal.comments.empty? %>
  <h4>Comments on <%= "\"#{@journal.name}\"" %></h4>
      </tr>
      <% @journal.comments.each do |comment| %>
      <tr>
        <td>
          <li id = 'comments' > <%= comment.content %></a>
        </td>
      <% if doctor_logged_in? %>
        <td><%= link_to "Edit", edit_patient_journal_comment_path(@journal.patient, @journal, comment) %></td>
        <td><%= link_to "Delete", patient_journal_comment_path(@journal.patient, @journal, comment), method: :delete, data: { confirm: "Yes" }  %></td>
      <% end %>
      </tr>
    <% end %>
    </table>
<% else %>
  <%= 'No comments' %>
<% end %>
<%= simple_format "\n" %>

<% if doctor_logged_in? %>
  <%= link_to 'Add comment', new_patient_journal_comment_path(@journal.patient, @journal) %> 
<% end %>

<% if patient_logged_in? %>
  <%= link_to 'Edit', edit_patient_journal_path(@journal.patient, @journal) %> 
<% end %>
<%= simple_format "\n" %>

<%= link_to 'Back', "/patientsj/#{@journal.patient.id}" %>
