<nav class="nav-banner">
  <!--a class="nav-btn" href="/">Home</a!-->
  <!--a class="nav-btn" href="/doctors">Doctors</a>
  <a class="nav-btn" href="/patients">Patients</a!-->
  <% if doctor_logged_in? %>
    <%= link_to "#{current_doctor.name}", current_doctor %>
    <%= link_to 'Patients', doctor_patients_path(current_doctor) %>
  	<%= link_to 'Log out', '/dlogout', method: :delete %>
  <% elsif patient_logged_in? %>
    <%= link_to "#{current_patient.name}", current_patient %>
    <%= link_to 'Log out', '/plogout', method: :delete %>
  <% end %>
  <!-- Add link to user's show page and log out button if logged in -->
  <!-- Add log out link otherwise -->
  </span>
</nav>
