<nav class="nav-banner">
  <% if doctor_logged_in? %>
    <%= link_to "#{current_doctor.name}", current_doctor %>
    <%= link_to 'Patients', "/doctors/#{current_doctor.id}/patients" %>
  	<%= link_to 'Log out', '/dlogout', method: :delete %>
  <% elsif patient_logged_in? %>
    <%= link_to "#{current_patient.name}", current_patient %>
    <%= link_to 'Doctors', "/patients/#{current_patient.id}/doctors" %>
    <%= link_to 'Journal', "/patientsj/#{current_patient.id}" %>
    <%= link_to 'Log out', '/plogout', method: :delete %>
  <% else %>
    <%= link_to 'Home', root_path %>
  <% end %>
  </span>
</nav>
